.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 350px;
  margin: 2px;
  padding: 5px;
  border-radius: 20px;
  border-style: groove;
  border-color: rosybrown;
  background-color: lavender;
}

.innerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 250px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  border-style: groove;
  border-color: rosybrown;
  background-color: lavender;
}

.outerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 400px;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  border-style: dotted;
  border-color: lavender;
}

.center {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

input[type='file'] {
  display: none;
}

.file-change {
  border: 1px solid #ccc;
  width: 360px;
  height: 90px;
  position: absolute;
  border-radius: 20px;
  opacity: 0;
  display: inline-block;
  cursor: pointer;
}
